<div class="wrap">
  <img src="/public/images/login480/logoumobile.png" class="logoumobilelogin"/>
<div class="logounivlogin">
  <img src="/public/images/login480/logouniv.png" />
</div>
<div class="logueo">
<form method="POST" action="<%= url_for :action => :do_login%>">

    <div data-role="fieldcontain">
      <input type="text" id="login" name="login" class="txtusuario" <%= placeholder("Login") %> />
    </div>
    <div data-role="fieldcontain">
      
      <input type="password" id="password" name="password" class="txtpassword" <%= placeholder("Password") %> />
    </div>
    
        <% if @msg %>
                <div class="error-message"><%= @msg %></div>
            <% end %>
        <input type="submit" value="Entrar" class="botonlogin maincolor" />
  </form>
</div>
</div>