<div class="outer-wrapper">
        <header class="main">
            <h1 class="logo"><img src="/public/images/login480/logoumobile.png" alt="Umobile"/></h1>
        </header>
<section class="content login">
            <form method="POST" action="<%= url_for :action => :do_login %>">
                <% if @msg %>
                    <p class="error"><%= @msg %></p>
                <% end %>
                <fieldset>
                    <input type="text" id="login" name="login" <%= placeholder("Login") %> />
                    <input type="password" name="password" id="password" <%= placeholder("Password") %>  />
                </fieldset>  
                <fieldset>
                    <input type="submit" value="Entrar" />
                </fieldset>
            </form>
        </section>

</div>
