body 
{
    background-color:#DEDEDE;
    background-image:url("/public/images/login480/background.png");
}

.maincolor
{
    background-color:#82BF40;
}

.subcolor
{
    background-color:#6FA337;
}

.margin10 {
    display: block;
    position:absolute;
    min-width:220px;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:10px;
}

A
{
    text-decoration:none;
}

.wrap
{
    width:100%; 
    height:100%; 
    position:absolute; 
    top:0px; 
    left:0px; 
    border:0px solid black;
}

.backgroundstretch
{
    width:100%; 
    height:100%; 
    z-index:-2;
}

.textoOscuro
{
    font-family:Verdana; 
    font-size:12px; 
    font-weight:bold;
    color:#4D4D4D;
}

.listasfullwidth
{
    position:absolute; 
    top:32px; 
    left:0px; 
    width:100%; 
    height:100%;
}

/*Login*/

.logoumobilelogin
{
    position:absolute; 
    top:9px; 
    left:5px;
}

.logounivlogin
{
    width:400px; 
    height:220px; 
    position:absolute; 
    top:100px; 
    left:50%; 
    text-align:center; 
    vertical-align:middle;
    margin-left:-200px;
    margin-right:auto;
}

.logueo
{
    position:absolute; 
    top:438px; 
    left:50%;
    width:400px;
    height:172px;
    margin-left:-200px;
    margin-right:auto;
    background-image:url("/public/images/login480/txtblogin.png");
    z-index:0;
}

.txtusuario
{
    position:relative; 
    top:30px; 
    left:30px; 
    width:340px; 
    height:20px; 
    z-index:1; 
    border-style:none;
}

.txtpassword
{
    position:relative; 
    top:40px; 
    left:30px; 
    width:340px; 
    height:20px; 
    z-index:1; 
    border-style:none;
}

.botonlogin
{
    position:relative; 
    top:70px; 
    left:20px; 
    width:360px;
    height:27px; 
    color:White; 
    text-align:center;
    vertical-align:text-bottom;
    padding-top:5px;
    font-family:Verdana; 
    font-size:16px; 
    z-index:2;
    -moz-border-radius:15px; 
    border-radius:15px;
    text-decoration:none;
    
}

.footer
{
    width:100%; 
    height:20px; 
    position:absolute; 
    bottom:0px;
}

.headerlistabg1
{
    position:absolute; 
    width:100%; 
    height:32px; 
    top:0px; 
}

.headerlistabg2
{
    position:absolute; 
    width:100%; 
    height:16px; 
    top:16px; 
}

.headertitulo
{
    position:absolute; 
    top:5px; 
    left:0px;      
    width:100%; 
    color:#FFFFFF;
    text-align:center; 
    font-family:Verdana; 
    font-size:16px; 
    font-weight:bolder;
    z-index:2;
}

/*Principal*/

.headerbg1
{
    position:absolute; 
    width:100%; 
    height:52px; 
    top:0px; 
    background-color:White;
}

.headerbg2
{
    position:absolute; 
    width:100%; 
    height:26px; 
    top:26px; 
    background-color:#F7F7F7;
}

.headerline
{
    position:absolute; 
    width:100%; 
    height:8px; 
    top:52px; 
}

.logoumobileprincipal
{
    width:100%; 
    height:110px; 
    position:absolute; 
    top:9px; 
    left:0px; 
    text-align:center; 
    vertical-align:middle;
}

.notificacionesbtn
{
    position:absolute; 
    top:0px; 
    right:0px;
}

.notificacionestxt
{
    position:absolute; 
    top:34px; 
    right:34px; 
    font-family:Verdana; 
    font-size:20px;
}

.fechaprincipal
{
    position:absolute; 
    top:72px; 
    left:20px; 
    width:240px; 
    font-size:12px;
}

.logounivprincipal
{
    width:100%; 
    height:110px; 
    position:absolute; 
    top:95px; 
    left:0px; 
    text-align:center; 
    vertical-align:middle;
}

.nombreusuario
{
    position:absolute; 
    bottom:10px; 
    left:10px; 
    width:460px; 
    font-size:12px;
}

.menuprinclinea
{
    position:absolute; 
    width:100%; 
    height:24px; 
    bottom:-20px;
}

.menuprincbg1
{
    position:absolute; 
    width:100%; 
    height:120px; 
    bottom:-139px; 
    background-color:#CCCCCC;
}

.menuprincbg2
{
    position:absolute; 
    width:100%; 
    height:60px; 
    bottom:-159px; 
    background-color:#B3B3B3;
}

.menuiconoswrap
{
    position:absolute; 
    width:100%; 
    height:120px; 
    bottom:-155px; 
    text-align:center;    
}

/*Detalle del curso v1*/

.detallecurso
{
    position:absolute; 
    top:35px; 
    margin:10px; 
    height:120px; 
    background-color:White; 
    border:1px solid #CCCCCC; 
    -moz-border-radius:15px; 
    border-radius:15px; 
    padding:10px;
}

.footerdetallecurso
{
    width:100%; 
    height:55px; 
    position:fixed; 
    bottom:0px; 
    padding-left:5px; 
    padding-right:5px; 
    text-align:center;
}

/*Detalle del curso v2*/

.horariodetallecurso
{
    position:absolute; 
    top:200px; 
    left:0px; 
    min-width:220px;
}