body 
{
    background-color:#DEDEDE;
}

.maincolor
{
    background-color:#82BF40;
}

.subcolor
{
    background-color:#6FA337;
}

.margin10 {
    display: block;
    position:absolute;
    min-width:220px;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:10px;
}

A
{
    text-decoration:none;
}

.wrap
{
    width:100%; 
    height:100%; 
    position:absolute; 
    top:0px; 
    left:0px; 
    border:0px solid black;
}

.botonback
{
	position:absolute; 
	top:5px; 
	left:0px; 
	z-index:3;	
}

.botonhome
{
	position:absolute; 
	top:5px; 
	right:0px; 
	z-index:3;	
}

.backgroundstretch
{
    width:100%; 
    height:100%; 
    z-index:-2;
}

.textoOscuro
{
    font-family:Verdana; 
    font-size:12px; 
    font-weight:bold;
    color:#4D4D4D;
}

.listasfullwidth
{
	position:absolute;
	top:56px;
	left:0px;
	width:100%;
	height:100%;
}

/*Login*/

.logoumobilelogin
{
    position:absolute; 
    top:9px; 
    left:5px;
}

.logounivlogin
{
    width:400px; 
    height:220px; 
    position:absolute; 
    top:70px; 
    left:50%; 
    text-align:center; 
    vertical-align:middle;
    margin-left:-200px;
    margin-right:auto;
}

.logueo
{
    position:absolute; 
    top:312px; 
    left:62%;
    width:280px;
    height:152px;
    margin-left:-190px;
    margin-right:auto;
	background-color:#BBB;
    z-index:0;
	border-radius: 10px;
	padding:10px;
}

.txtusuario
{
    position:relative; 
    top:0px; 
    left:0px; 
    width:300px; 
    height:20px; 
    z-index:1;
}

.txtpassword
{
    position:relative; 
    top:0px; 
    left:0px; 
    width:300px; 
    height:20px; 
    z-index:1; 
}

.botonlogin
{
    position:relative; 
    top:20px; 
    left:0px; 
    width:360px;
    height:27px; 
    color:White; 
    text-align:center;
    vertical-align:text-bottom;
    padding-top:5px;
    font-family:Verdana; 
    font-size:16px; 
    z-index:2;
    -moz-border-radius:15px; 
    border-radius:15px;
    text-decoration:none;
    
}

.footer
{
    width:100%; 
    height:20px; 
    position:absolute; 
    bottom:0px;
}

.headerlistabg1
{
    position:absolute; 
    width:100%; 
    height:56px; 
    top:0px; 
}

.headerlistabg2
{
    position:absolute; 
    width:100%; 
    height:28px; 
    top:28px; 
}

.headertitulo
{
    position:absolute; 
    top:15px; 
    left:0px;      
    width:100%; 
    color:#FFFFFF;
    text-align:center; 
    font-family:Verdana; 
    font-size:18px; 
    font-weight:bolder;
    z-index:2;
}

/*Principal*/

.headerbg1
{
    position:absolute; 
    width:100%; 
    height:52px; 
    top:0px; 
    background-color:White;
}

.headerbg2
{
    position:absolute; 
    width:100%; 
    height:26px; 
    top:26px; 
    background-color:#F7F7F7;
}

.headerline
{
    position:absolute; 
    width:100%; 
    height:8px; 
    top:52px; 
}

.logoumobileprincipal
{
    width:100%; 
    height:110px; 
    position:absolute; 
    top:9px; 
    left:0px; 
    text-align:center; 
    vertical-align:middle;
}

.notificacionesbtn
{
    position:absolute; 
    top:0px; 
    right:0px;
}

.notificacionestxt
{
    position:absolute; 
    top:24px; 
    right:24px; 
    font-family:Verdana; 
    font-size:14px;
}

.fechaprincipal
{
    position:absolute; 
    top:65px; 
    left:15px; 
    width:240px; 
    font-size:12px;
}

.logounivprincipal
{
    width:100%; 
    height:110px; 
    position:absolute; 
    top:120px; 
    left:0px; 
    text-align:center; 
    vertical-align:middle;
}

.texto {
	font-size: 12px
}

.nombreusuario
{
    position:absolute; 
    bottom:104px; 
    left:10px; 
    width:460px; 
    font-size:12px;
}

.menuprinclinea
{
    position:absolute; 
    width:100%; 
    height:24px; 
    bottom:70px;
}

.menuprincbg1
{
    position:absolute; 
    width:100%; 
    height:70px; 
    bottom:0px; 
    background-color:#CCCCCC;
}

.menuprincbg2
{
    position:absolute; 
    width:100%; 
    height:60px; 
    bottom:10px; 
    background-color:#B3B3B3;
}

.menuiconoswrap
{
    position:absolute; 
    width:100%; 
    height:70px; 
    bottom:0px; 
    text-align:center;    
}

/*Detalle del curso v1*/

.detallecurso
{
    position:absolute; 
    top:60px; 
    margin:10px; 
    height:120px; 
    background-color:White; 
    border:1px solid #CCCCCC; 
    -moz-border-radius:15px; 
    border-radius:15px; 
    padding:10px;
}

.footerdetallecurso
{
    width:100%; 
    height:55px; 
    position:fixed; 
    bottom:0px; 
    padding-left:5px; 
    padding-right:5px; 
    text-align:center;
}

/*Detalle del curso v2*/

.horariodetallecurso
{
    position:absolute; 
    top:220px; 
    left:0px; 
    min-width:220px;
}

/*Horario*/

.ui-icon-lunes
{
	background:url(/public/images/dias/lunes.png) no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-martes
{
	background:url(/public/images/dias/martes.png) no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-miercoles
{
	background:url(/public/images/dias/miercoles.png) no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-jueves
{
	background:url(/public/images/dias/jueves.png) no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-viernes
{
	background:url(/public/images/dias/viernes.png) no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-sabado
{
	background:url(/public/images/dias/sabado.png) no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-domingo
{
	background:url(/public/images/dias/domingo.png) no-repeat rgba(0, 0, 0, 0.4) !important;
}

.dias
{	position:absolute; 
	top:60px; 
	width:100%; 
	text-align:center;
}

.horariopostop
{
	top:106px;	
}