<div data-role="page">
  <div class="headerlistabg1 maincolor"></div>
  <div class="headerlistabg2 subcolor"></div>
         

    <div class="botonback">        
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
    </div>
    <div class="botonhome">
        <a href="<%= Rho::RhoConfig.start_path2 %>" data-role="button" data-icon="home" data-iconpos="notext"></a>
    </div>

         <div class="headertitulo">Cursos matriculados</div>


  <div class="listasfullwidth">
    <ul data-role="listview" data-theme="a">
      <% @cursos.each do |curso| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => curso.object %>">
              <%= curso.nombre %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>
<!-- Footer -->
    <div class="footer maincolor"></div></div>

</div>