<div data-role="page">


  <div class="headerlistabg1 maincolor"></div>
         <div class="headerlistabg2 subcolor"></div>
         
         <div class="headertitulo">Cursos matriculados</div>
         
<br/>
  <br/>

    <div data-role="content">
    
    
    
<!-- Lista de cursos para ver las notas -->
      <form method="POST" action="<%= url_for :controller => :Calificacion, :action => :index %>">
        <% @cursos.each do |curso| %>  
         <a href="<%= url_for :action => :show,  :query => {:id => curso.object}  %>"  > <%= curso.nombre %> </a>            
          <% end %>
    
        <br/>
        <br/>

        <!--<input align="center" type="submit" data-position="inline" value="Ver Seleccionados"></>-->
        <input align="center" type="submit" data-position="inline" value="Ver Todos">
        <h1> Promedio ponderado actual: </h1>   
      </form>   
      
</div>





         
         
     
    
         
         
         