<div data-role="page" data-add-back-btn="true">




<div   class="headerlistabg1 maincolor" >

    <div class="headerlistabg2 subcolor"></div>
   
   <div class="headertitulo">Calificaciones</div>
</div>

<br/>
<br/>
<br/>

  <div data-role="content">
    <ul data-role="listview">
      

      <% @CalificacionesCurso.each do |calificacion| %>
          
              <li>
              
             Tipo     <%= calificacion.evaluacion %> <br/>
              Nota   <%= calificacion.nota %>
             
      
              </li>
          
          <% end %>
      
    </ul>
  </div>

</div>
